alog~=1.1.0
torch~=1.5.0
scipy~=1.4.1
scikit_image==0.13.1
opencv_python==3.4.2.17
tqdm~=4.46.0
numpy~=1.18.4
torchvision~=0.6.0
Cython==0.29.2
dsntnn~=0.5.0
imgaug~=0.4.0
matplotlib~=3.2.1
Pillow==6.2.0
scripts==2.0
skimage

scikit-image~=0.16.2
pycocotools~=2.0.0
argparse~=1.4.0
opencv-python~=4.2.0.34
moviepy~=1.0.3
Shapely~=1.7.0
PyQt5~=5.15.0
